@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #2ec4b6;
  --color-primary-light: #ecf1f3;
  --color-secondary: #203c47;
}

body {
  @apply h-full font-['poppins',sans-serif] overflow-x-hidden;
}

hr {
  @apply text-gray-300;
}

.header-element {
  @apply hover:text-primary focus:text-primary focus:before:block before:bg-primary before:w-full before:h-0.5 before:hidden before:relative before:top-8 before:left-0;
}

/* To delete the logo of tinymce */
.tox .tox-statusbar__branding a,
.tox-promotion {
  display: none !important;
}

/* Video player */
.plyr {
  @apply h-full rounded-3xl;
  video {
    @apply bg-primary-light;
  }
}

.h-full-s {
  @apply h-[calc(100vh-75px)];
}

.max-h-full-s {
  @apply max-h-[calc(100vh-75px)];
}

.fill-available {
  @apply w-[-webkit-fill-available] w-[-moz-available];
}

.dropdown {
  @apply absolute right-0 z-50 w-56 origin-top-right rounded-xl bg-white shadow-lg p-1 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-200 border border-gray-300;
}
